

h1{
    color: black;
    font-size: 6em;
    text-align: center;
}
p{
    color: black;
    font-size: 2em;
    text-align: justify;
}
h2{
    color: black;
    font-size: 6em;
    text-align: center;
}

h3{
    color: black;
    font-size: 6em;
    text-align: center;
}
